* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #333333;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

#section1 {
    height: 448px;
    width: 100%;
    background-image: url('../images/browse/banner.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    z-index: 0;
    color: white;
}

.banner-contents {
    margin-left: 50px;
    padding-top: 140px;
    height: 190px;
}
  
.banner-title {
    font-size: 3.5rem;
    font-weight: 600;
    padding-bottom: 0.3rem;
}
  
.banner-description {
    width: 300rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1.2rem;
    max-width: 600px;
    margin-bottom: 25px;
}
  
.banner-button {
    cursor: pointer;
    color: #000;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 2px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #e6e6e6;
}
  
.banner-button:hover {
    cursor: pointer;
    color: #fff;
    background-color: rgba(51, 51, 51, 0.5);
    transition: all 0.2s;
}
  
.banner-fadeBottom {
    margin-top: 145px;
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    align-items: center;
}

.nav-logo {
    width: 100px;
    object-fit: contain;
}

.nav-logo:hover {
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    background: none;
    border: none;
}

.nav-link:hover {
    cursor: pointer;
}
  
.nav-black {
    background-color: #111;
}

.vdo-div {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background: transparent;
    backdrop-filter: blur(10px);
}

.vdo-inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    align-items: center;
}

.vdo {
    height: 100%;
    width: 100%;
    background: none;
    border: none;
}

video {
    width: 50%;
}

.row {
    color: white;
    margin-left: 20px;
    margin-top: 50px;
}

.row h2 {
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.row-posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row-posters::-webkit-scrollbar {
    display: none;
}
  
.row-poster {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 8px;
    transition: transform 450ms;
    z-index: 100;
}

.row-poster:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.card {
    padding: 25px;
    margin: 25px;
    margin-right: 35px;
    max-height: max-content;
    background-image: url('../images/browse/films/r1/1b.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right;
    display: flex;
    justify-content: space-between;
}
  
.card-details .banner-title {
    font-size: 2.5rem;
}
  
.card-details .banner-description {
    font-size: 1.1rem;
    max-width: 550px;
}

.close {
    display: flex;
    align-items: flex-start;
    background-color: transparent;
    border: none;
    color: #ffffff;
}

.close:hover {
    cursor: pointer;
}

#body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 45px 70px 45px;
    color: #ffffff;
}

#footer #body {
    padding-bottom: 0;
    margin-top: 60px;
}

#f-container {
    margin-top: 0;
    min-width: 190px;
    max-width: 1000px;
    width: 100%;
    padding-bottom: 20px;
    font-size: 1em;
    color: #757575;
    position: relative;
    display: flex;
    justify-content: end;
}

#f-inner {
    width: 90%;
}

#f-top {
    padding: 0;
    margin: 0 0 30px;
}

ul>li {
    list-style: none;
    margin-left: 0;
}

#f-links {
    padding: 0;
    margin: 0;
    max-width: 1000px;
    font-size: 13px;
}

#f-link-i {
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 16px;
    display: inline-block;
    min-width: 100px;
    width: 24%;
    padding-right: 12px;
}

#fl {
    color: #757575;
    text-decoration: none;
}

#fl:hover {
    cursor: pointer;
}

@media (max-width: 740px) {
    .banner-contents {
        margin-right: 50px;
        padding-top: 120px;
    }
      
    .banner-title {
        font-size: 2.5rem;
    }
      
    .banner-description {
        width: 100%;
        font-size: 1rem;
        max-width: 100%;
    }

    .card-details .banner-title {
        font-size: 2rem;
    }
      
    .card-details .banner-description {
        font-size: 1rem;
        max-width: 550px;
    }

    #f-link-i {
        width: 32%;
    }
}

@media (max-width: 548px) {
    .row h2 {
        font-size: 1.3rem;
    }

    #f-link-i {
        width: 49%;
    }
}