@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');  
 *{  
   margin: 0;  
   padding: 0;  
   box-sizing: border-box;  
   font-family: 'Poppins', sans-serif;  
 }  
 body{  
   display: flex;  
   justify-content: center;  
   align-items: center;  
   height: 100vh;  
 }  
 .card{  
   width: 250px;  
   height: 300px;  
   position: relative;  
   cursor: pointer;  
 }  
 .card .content{  
   width: 100%;  
   height: 100%;  
   background: rgba(255, 255, 255, 0.089);  
   backdrop-filter: blur(20px);  
   border: 1px solid white;  
   color: white;  
   display: flex;  
   justify-content: center;  
   align-items: center;  
   flex-direction: column;  
   box-shadow: 0 0 30px rgba(0, 0, 0, 0.055);  
   transition: all .4s;  
 }  
 .card .content p{  
   font-size: 0.8em;  
   padding: 0.3em 1.5em;  
   text-align: center;  
 }  
 .card:hover .content{  
   color: rgb(36, 36, 36);  
 }  
 .card::before,  
 .card::after{  
   content: '';  
   position: absolute;  
   width: 100%;  
   height: 50%;  
   background: #7F00FF;  
   z-index: -20;  
   transition: all .4s;  
 }  
 .card::before{  
   top: 0;  
   right: 0;  
 }  
 .card::after{  
   bottom: 0;  
   left: 0;  
   background: #E100FF;  
 }  
 .card:hover::before{  
   width: 50px;  
   height: 50px;  
   transform: translate(20px, -20px);  
   border-radius: 50%;  
 }  
 .card:hover::after{  
   width: 100px;  
   height: 100px;  
   transform: translate(-20px, 20px);  
   border-radius: 50%;  
 }  