*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://data.whicdn.com/images/344152356/original.jpg);
    background-position: center;
    background-size: cover;
    position: relative ;
}
nav{
    display: flex;
    padding: 3% 6%;
    justify-content: space-between;
    align-items:center;   
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style:none;
    display:inline-block;
    padding:8px 12px;
    position:relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;

}
.nav-links ul li::after{
    content: '';
    width:0%;
    height:2px;
    background:rgb(126, 233, 38);
    display:block;
    margin:auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width:100%
}
.text-box{
    width:90%;
    color:rgb(126, 233, 38);
    position: relative;
    top: 50px;
    left: 100px;
    
    text-align: center;
  
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color:#fff;
}
.hero-btn{
    display:inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor:pointer;
}



.hero-b:hover{
    border:1px solid rgb(126, 233, 38);
    background: rgb(126, 233, 38);
    transition: 1s;
}

.blog{
    width: 80%;
    margin:auto;
    text-align:center;
    padding-top: 100px;
}
h1{
    font-size:36px;
    font-weight: 300;
    line-height:22px;
    padding:10px;
}
.tab{
    margin-top:5%;
    display:flex;
    justify-content: space-between;   
}
.blog-tab{
    flex-basis:31%;
    background:#fff3f3;
    border-radius:10 px;
    margin-bottom: 10%;
    padding:20 px;
    box-sizing:border-box;
    transition:0.5s;
}
h3{
    text-align:center;
    font-weight:600;
    margin:10px 0;
}
.blog-tab:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.yoga-center{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top: 50px;
}
.yc{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow:hidden;
}
.yc img{
    width: 100px;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color:coral;
    font-size:26px;
    bottom: 50%;
    transform: translateX(-50%);
    position: absolute;
}
.benefits{
    WIDTH: 80%;
    MARGIN: auto;
    text-align: center;
    padding-top: 100px;
}
.ben{
    flex: basis 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.ben img{
    width:100%;
    border-radius: 10px;
}
.ben p{
    padding:0;
}
.ben h3{
    margin-top:16px;
    margin-bottom: 15px;
    text-align: left;
}
.testimonials{
    width:80%;
    margin:auto;
    padding-top: 100px;
    text-align: center;
}
.testimonials-col{
    flex-basis:44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display:flex;
}
.testimonials-col img{
    height:40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius:50%;
}
.testimonials-col p{
    padding:0;
}
.testimonial-col h3{
    margin-top: 15px;
    text-align: left;
}


.about{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top: 50px;
}
.cta{
    margin:100px auto;
    width:80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://unremot.com/blog/wp-content/uploads/2022/03/ctgry-img-3.png);
    background-position:center;
    background-size:cover;
    border-radius:10px;
    text-align:center;
    padding:100px 0;
}
.cta h1{
    color:#fff;
    margin-bottom:40px;
    padding:0;
}