body {

    display: flex;
    justify-content: center;

    width: 90%;
    justify-self: center;
    align-self: center;
 }
 html{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 h1 {
    font-size: 70px;
    line-height: 0.7;
    color: rgb(30, 195, 224);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
 }
 body{
     background-color: black;
 }
 .MAIN {
   transition: 0.4s all!important;
    
   
 }
 
 .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
 }
 
 .grid{
    display: flex;
    flex-wrap: wrap;
    width: 470px;
    height: 470px;
    background-color: rgb(30, 195, 224);
    border: 7px solid rgb(30, 195, 224);
    border-radius: 6px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    margin-top: 20px;
 }
 
 .grid div {
    width: 100px;
    height: 100px;
    margin: 7px;
    border-radius: 3px;
    background-color: black;
    color: black;
    border: 1px solid black;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    line-height: 1.6;
 }
 
 .s {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    height: max-content;
    border-radius: 3px;
    background-color: rgb(30, 195, 224);
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: medium;
    margin: 20px;
    padding: 20px;
   
 }
 
 .score {
    font-size: 20px;
    width: 100px;
    text-align: center;
 }
 
 .scores {
    font-size: 20px;
 }
 
 .res {
    font-size: 18px;
 }  
 .MAIN{
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.body{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   overflow: hidden;
}
.header{
   justify-content: space-between;

   height: min-content;
   width: 100%;
   display: flex;
   flex-direction: row;
}
 @media screen and (max-width: 506px) {
    .grid{
        transform: scale(0.5);
        justify-self: center;
        align-self: center;
    }
    .MAIN{
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        transition: 0.4s all!important;
    }
    h1{
    font-size: 50px!important;

    }
    img{
       width: 40px;
       height: 40px;
    }

  }