<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix</title>
    <link rel="stylesheet" href="../static/css/sign.css">
    <link rel="shortcut icon" href="../static/icon/netflix.ico" type="image/x-icon">
</head>
<body>
    <div id="section1">
        <div id="head">
            <div id="head-inner">
                <img id="logo" src="../static/images/logo.svg" alt="logo" onclick="home()">
            </div>
        </div>
        <div id="body">
            <div id="body-inner">
                <div id="login">
                    <div id="log-content">
                        <h1 id="heading1">Sign In</h1>
                        <form action="" method="post" id="log-form">
                            <div id="get-input">
                                <input id="uname" type="text" class="data" placeholder="Email or phone number">
                            </div>
                            <div id="get-input">
                                <input id="pass" type="password" class="data" placeholder="Password">
                            </div>
                        </form>
                        <div id="auth">
                            <button onclick="browse()">Sign In</button>
                        </div>
                        <div id="new-al">
                            <p>New to Neflix? <a href="./signup.html">Sign up now.</a></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div id="body">
            <div id="f-container">
                <div id="f-inner">
                    <p id="f-top">Questions? Call 000-800-040-1843</p>
                    <ul id="f-links">
                        <li id="f-link-i">
                            <a href="" id="fl">FAQ</a>
                        </li>
                        <li id="f-link-i">
                            <a href="" id="fl">Help Centre</a>
                        </li>
                        <li id="f-link-i">
                            <a href="" id="fl">Account</a>
                        </li>
                        <li id="f-link-i">
                            <a href="" id="fl">Media Centre</a>
                        </li>
                        <li id="f-link-i">
                            <a href="" id="fl">Investor Relations</a>
                        </li>
                        <li id="f-link-i">
                            <a href="" id="fl">Jobs</a>
                        </li>
                        <li id="f-link-i">
                            <a href="" id="fl">Ways to Watch</a>
                        </li>
                        <li id="f-link-i">
                            <a href="" id="fl">Terms of Use</a>
                        </li>
                        <li id="f-link-i">
                            <a href="" id="fl">Privacy</a>
                        </li>
                        <li id="f-link-i">
                            <a href="" id="fl">Cookie Preferences</a>
                        </li>
                        <li id="f-link-i">
                            <a href="" id="fl">Corporate Information</a>
                        </li>
                        <li id="f-link-i">
                            <a href="" id="fl">Contact Us</a>
                        </li>
                        <li id="f-link-i">
                            <a href="" id="fl">Speed Test</a>
                        </li>
                        <li id="f-link-i">
                            <a href="" id="fl">Legal Notices</a>
                        </li>
                        <li id="f-link-i">
                            <a href="" id="fl">Only on Netflix</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/sign.js"></script>
</body>
</html>