* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html {
  width: 100%;
  height: 100%;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform-style: preserve-3d;
  background: linear-gradient(45deg,red,blue);
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  width:90vw;
  height:90vh;
  border-radius:10vmax;
  background-color: rgb(50,50, 50);
}
.container {
  position: absolute;
  top:40%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item{
  position: absolute;
  background-color: transparent;
  width: calc(var(--i) * 4.5vmin);
  aspect-ratio: 1;
  border-radius: 50%;
  border: .9vmin solid rgb(0, 200, 255);
  transform-style: preserve-3d;
  transform: rotateX(70deg) translateZ(50px);
  animation: my-move 2.5s ease-in-out calc(var(--i) * 0.08s) infinite;
  box-shadow: 0px 0px 15px rgb(124, 124, 124),
    inset 0px 0px 15px rgb(124, 124, 124);
}
/* 
.item {
animation-timing-function:cubic-bezier(0,1,1,0)
}
  */
/* 
.item{
animation-timing-function:cubic-bezier(1,0,0,1)
}
  */
/* 
.item{
animation-timing-function:cubic-bezier(1,0,1,0)
}
  */

/* .item{
animation-timing-function:cubic-bezier(0,1,0,1)
}
  */
/* 
.item{
animation-timing-function:cubic-bezier(.2,1.6,.8,-0.6)
}
  */

/* .item{
animation-timing-function:cubic-bezier(0.5,-1,.5,2)
} */
 
@keyframes my-move{
  0%,
  100% {
    transform: rotateX(70deg) translateZ(50px) translateY(0px);
    filter: hue-rotate(0deg);
  }
  50% {
    transform: rotateX(70deg) translateZ(50px) translateY(-75vmin);
    filter: hue-rotate(180deg);
  }
}
