*{  
    margin: 0;  
    padding: 0;  
    box-sizing: border-box;  
  }  
  body{  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    height: 100vh;  
    background: #171717;  
  }  
  .toggle{  
    width: 80px;  
    height: 40px;  
    background: #1b1b1b;  
    border-radius: 50px;  
    position: relative;  
    overflow: hidden;  
    cursor: pointer;  
  }  
  .toggle input{  
    position: absolute;  
    width: 100%;  
    height: 100%;  
    cursor: pointer;  
    appearance: none;  
    -webkit-appearance: none;  
    z-index: 10;  
  }  
  .left, .right{  
    position: absolute;  
    width: 50%;  
    height: 100%;  
    background: #2b2b2b;  
    border-radius: 50px;  
    border: 15px solid rgb(19, 19, 19);  
    transform: translateX(-2px);  
    /* box-shadow: 10px 0 25px #272727; */  
    transition: all .2s;  
  }  
  .toggle input:checked ~ .left{  
    transform: translateY(-100%);  
  }  
  .right{  
    right: 0;  
    transform: translateY(100%);  
    transform: translateX(100%);  
    background: #DA0037;  
    box-shadow: -10px 0 25px #da003770;  
    transition: all .2s;  
  }  
  .toggle input:checked ~ .right{  
    transform: translateY(0%);  
  }