*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
body
{
    font-family: 'Roboto', sans-serif;
}
.cont
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 0;
}
input
{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    
}
.check
{
    
    background-color: rgb(216, 216, 216);
    width: 550px;
    margin: auto;
    height: auto;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
}
.msg
{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:15px;
    font-size:15px;
    color: white;
    font-weight: bold;
}