* {
    margin: 0px;
    padding: 0px;
    color: white;
}

body {
    background-color: black;
}

header::before {
    position: absolute;
    background: url("images/img2.jpg") no-repeat center center/cover;
    content: "";
    /* left:0;
    right:0; */
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.8;
}

ul::before {
    /* background-color: #0a686e; */
    background-color: rgb(2, 118, 135);;
    opacity: 0.8;
    height: 2.5rem;
    width: 100%;
    content: "";
    position: absolute;
    z-index: -1;
}

ul {
    display: flex;
}

.list {
    list-style: none;
    margin: 5px 4.1px;
    padding: 5px 20px;
}

.list a {
    text-decoration: none;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height: 50vh;
    /* border: 2px solid red; */
    margin: 13.5vh 25px;
    width: 40%;
    font-family: 'Dancing Script', cursive;
    padding: 10px;
}

#p2 {
    font-size: 4rem;
    ;
}

.logo,
#p1,
.content h1{
    font-family: "Patrick Hand", cursive;
}
form div h1 {
    font-size: 2rem;
    font-family: "Patrick Hand", cursive;
}
form div input {
    color:black;
}

#p1 {
    font-size: 22px;
}

#lovecare {
    display: flex;
    font-size: 1.5rem;
}

.logo {
    margin: 20px 40px;
}

#care b {
    color: rgb(255, 213, 0);
}

#love b:hover {
    color: black;
}

.list:hover {
    color: purple;
    background-color: rgb(53, 13, 53);
    border-radius: 10px;
    cursor: pointer;
}

#s2 {
    /* border: 2px solid red; */
    background-color: rgb(245, 245, 235);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    display: flex;
}

form {
    position: relative;
    margin: 3rem;
    /* border: 2px solid green; */
    background-color: rgb(57 46 35);
    padding: 3rem;
    border-radius: 20px;
}

.content {
    width: 40%;
    /* border: 2px solid blue; */
    padding: 5rem;
}

.content h1 {
    font-size: 3.2rem;
    color: rgba(0, 0, 0, 0.797);
}

.content h2 {
    color: rgb(224 154 34);
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.content p {
    color: rgba(0, 0, 0, 0.797);
    font-family: 'Poppins', sans-serif;
    margin: 10px 0px;
}
form div{
    padding: 10px;
}
form div p1 {
    display: block;
    padding: 2px;
    color: rgb(224 154 34);
}
#boxa{
    display: flex;
    position: relative;
    width:100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.box{
    height:170px;
    width:100px;
    background-color: white;
    padding:20px ;
    border-radius: 10px;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.797);
    font-family: 'Poppins', sans-serif;
   
}
html {
    scroll-behavior: smooth;
}

.box i {
    font-size: 40px;
    margin: 25px 0px 0px 25px;
    color: white;
}

.box p {
    margin: 7px;
}

.box div {
    height: 100px;
    width: 100px;
    margin: 13px 0px;
    border-radius: 50px;
    background-color: rgb(224 154 34);
}

.box:hover {
    background-color: rgb(2, 118, 135);
    color: white;
    cursor: pointer;
}

.payment {
    margin: 10px 2px 10px 13px;
}

button {
    height: 40px;
    width: 100%;
    background-color: rgb(224 154 34);
    font-size: 1rem;
    border-style: none;
}

button:hover {
    cursor: pointer;
    font-size: 1.2rem;
    border: 2px solid black;
    font-weight: bold;
}

input[name="myname"] {
    height: 30px;
    width: 100%;
}

#Contact {
    background-color: rgb(2, 118, 135);
    display: flex;
    justify-content: center;
    
}
.box2 {
    width: 30%;
    margin: 20px;
    padding: 20px;
}
.box3 {
    padding: 20px;
    display: flex;
}

.box3 div {
    margin-left: 10px;
}

.box3 p {
    padding: 2px;
}

img {
    height: 100px;
    margin-top: 10px;
}

.box2 div h2 {
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
}

.box4 {
    display: flex;
    margin: 20px;
}

.box4 p {
    padding-left: 15px;
    font-family: 'Poppins', sans-serif;
    margin-top: -4px;
}

.box2 p {
    font-family: 'Poppins', sans-serif;
}

.icons {
    display: block;
    font-size: 2rem;
    margin-top: 20px;
}

.font1 {
    font-family: "Patrick Hand", cursive;
    font-size: 1.5rem;
}

.icons i:hover {
    cursor: pointer;
}
.logo1{
    font-family: "Patrick Hand", cursive;
}
#x{
    margin-top: 20px;
}
#copy{
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(2, 36, 51);
}
@media only screen and (min-width:771px) and (max-width:1110px) {
    #s2 {
        flex-direction: column;
    }
    .content {
        width: 60%;
    }

    form {
        width: 50%;
    }
    #Contact{
        flex-direction: column;
        align-items: center;
    }
    .box2 {
        width:60%;
    }

}

@media only screen and (max-width:770px) {
    #s2 {
        flex-direction: column;
    }
    .box2{
        width:80%;
    }
    .content{
        width: 80%;
        padding: 0px;
        margin-top: 2rem;
    }
    #Contact{
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width:525px){
    #boxa{
        justify-content: space-around;
    }
    #p2{
        font-size: 3.5rem;
    }
    .content h1{
        font-size: 2rem;
    }
}
@media only screen and (max-width:450px){
    form{
        margin:2rem 1rem;
    }
}
@media only screen and (max-width:391px) {
    .list {
        margin: 4px 2px;
        padding: 5px 8px;
    }
    .content{
        padding: 1rem;
    }
    form{
        padding:1rem;
        margin: 2rem 0px;
    }
}

