* {
  box-sizing: border-box;
  font-size: 6vmin;
  margin: 0px;
  padding: 0px;
  color: rgb(255, 255, 255);
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-image: linear-gradient(0deg, rgb(61, 0, 92), rgb(25, 0, 107));
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  overflow: hidden;
  transform-style: preserve-3d;
}
.container {
  width: calc(100% / 20);
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transform-style: preserve-3d;
  transform: rotate3d(0, 0, 0, 360deg) translateY(10vh) scale(0);
  box-sizing: border-box;
  animation: my-move 10s linear 0s infinite;
  animation-delay: calc(var(--i) * 0.25s);
}
@keyframes my-move {
  0% {
    transform: translateY(10vh) rotate3d(0, 0, 0, 0deg) scale(0);
  }
  5% {
    transform: translateY(10vh) rotate3d(0.1, 1, 0.1, 120deg) scale(0.5);
  }
  35% {
    transform: translateY(-25vh) rotate3d(0.1, 1, 0.2, 240deg) scale(1);
  }
  100% {
    transform: translateY(-110vh) rotate3d(0.1, 1, 0.3, 360deg) scale(1);
  }
}
.container:hover {
  animation-play-state: paused;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  aspect-ratio: 1;
  position: absolute;
  background-color: rgb(255, 200, 0);
  transform: rotate3d(var(--x), var(--y), 0, 90deg) translateZ(1.3vw);
  border: 20% solid rgb(255, 180, 0);
  box-shadow: 0px 0px 0.15vw rgb(255, 150, 0),
              0px 0px 0.3vw rgb(255, 150, 0),
              0px 0px 0.45vw rgb(255, 150, 0), 
              0px 0px 0.6vw rgb(255, 150, 0),
              0px 0px 0.75vw rgb(255, 150, 0);
}
.item:nth-child(2) {
  transform: rotate3d(var(--x), var(--y), 0, 180deg) translateZ(1.3vw);
}
