<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>List storage</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="box" id="heading">
      <h1><%= kindofDay %>!</h1>
    </div>
    <div class="box">
      <%  for(var i=0; i<newitem.length; i++){ %>
        <div class="item">
          <input type="checkbox">
          <p><%= newitem[i] %></p>
        </div>
        <% } %>

        <form class="item" action="/" method="post">
          <input type="text" name="item" placeholder="New Item" autocomplete="off">
          <button type="sumbit" name="button">+</button>
        </form>
    </div>


  </body>
</html>
