body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 562.9%;
  /* font-size: 562.9rem; */
  /* 16px=100%=1em
90px=90*100/16; */
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  line-height: 2;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  padding-top: 10px;
}

.intro {
  font-size: 1.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  padding: 100px 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.bottom-container {
  background: #66BFBF;
  /* color: #11999E; */
  padding: 50px 0 20px;
  /* height: 150px; */
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.pic {
  width: 40%;

}

.code {
  float: left;
  margin-right: 30px;

}
.devlopment
{

  float: right;
  margin-left:  30px;
}
.imga{
  float: left;
 margin-right: 30px;
}
.profile{
  width: 50%;
  margin: 0px auto 0px auto;
  color: #40514E;
  line-height: 2;
}
hr{
  /* border: dotted #EAF6F6 6px; */
  border: dotted gray 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}
.Message{
  margin: 40px auto 60px auto;
}
.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
/*    color: #66BFBF; */
   color: #EAF6F6;
   font-family: Arial;
   font-size: 20px;
   font-weight: 100;
   padding: 40px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
/* .copy{
  color: #11999E;
} */
.copy{
  color: #EAF6F6;
  font-size: 0.75 rem;
  padding: 20px 0;
}
