:root {
    --main: #7C83FD;
    --second: #96BAFF;
    --third: #7DEDFF;
    --contrast: #88FFF7;
}

body {
    overflow: hidden;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--main);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%2396BAFF'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%237DEDFF'/%3E%3Cstop offset='1' stop-color='%2388FFF7'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    place-items: center;
}

section {
    aspect-ratio: 1/1;
    width: 60vw;
    border-radius: 1em;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    padding: 1em;
    position: absolute;
    display: none;
    place-items: center;
}

section:target {
    display: grid;
}

section > img {
    aspect-ratio: 1/1;
    width: 17.5vw;
}

section > div {
    margin: 0;
    display: grid;
    place-items: center;
}

h2 {
    text-align: center;
    font-size: 2em;
    margin: 0;
}

form {
    display: grid;
}

input {
    height: 1.5em;
    border: .15em solid white;
    border-radius: .25em;
    background-color: var(--second);
    margin:  0 0 1em 0;
}

select {
    border: none;
    background-color: var(--third);
    color: #302e2e;
    margin: 0 0 1em 0;
}

option {
    background-color: var(--contrast);
    color: var(--main);
}

input[type=submit] {
    width: 7em;
    pointer-events: all;
    cursor: pointer;
    justify-self: center;
}

input[type=submit]:active {
    width: 6vw;
    height: 1.3em;
    padding-top: 0;
    margin-top: .2em;
}

section > a {
    text-decoration: none;
    color: var(--contrast);
    border-radius: 50%;
    background-color: var(--main);
    margin: 0 1em;
    padding: .3em .5em;
    display: grid;
    place-content: center;
    justify-self: flex-end;
}

footer {
    background-color: var(--contrast);
    border-radius: 50%;
    position: absolute;
    bottom: 1vh;    
    aspect-ratio: 1/1;
    clip-path: circle(48% at 50% 50%);
    width: 10vw;
    display: grid;
    place-items: center;
}

footer > a > img {
    aspect-ratio: 1/1;
    width: 10vw;
    position: relative;
    top: .35vh;
    left: .1vh;
}

#button {
    border: none;
    padding: 0;
    border-radius: 1em;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    display: grid;
    place-items: center;
}

#button > a {
    width: 25vw;
    display: grid;
    place-items: center;
}

#button > a > img {
    aspect-ratio: 1/1;
    width: 20vw;
}

#email {
    display: flex;
    place-content: center;
}

@media (orientation: landscape) {
    section {
        width: 33vw;
    }
}
