* {
    padding: 0;
    margin: 0;
  }
  html{
    scroll-behavior: smooth;
  }
  .sub {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    transition: 1s;

  }
  .main {
    transition: 1s;
    justify-self: center;
    align-self: center;
    margin-top: 100px;

  }
  .game{
    height: 100vh;
    display: none;
    width: 100%;

  }
  .supsub1,
  .supsub2,
  .supsub3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .body {
    background-color: black;
  }
  .supsub1 .one {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }
  .supsub1 .two {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
  }
  .supsub1 .three {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
  }
  .supsub2 .one {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }
  .supsub2 .two {
    border: 1px solid black;
  }
  .supsub2 .three {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
  }
  .supsub3 .one {
    border-right: 1px solid black;
  
    border-top: 1px solid black;
  }
  .supsub3 .two {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
  }
  .supsub3 .three {
    border-left: 1px solid black;
  
    border-top: 1px solid black;
  }
  .sub {
    text-align: center;
    font-size: 5rem;
    cursor: pointer;
  }
  .b {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 90%;
    justify-content: center;
    align-items: center;
  }

  .mainline {
    transition: 1s height;
    background-color: black;
    width: 1.5px;
    height: 90%;
  }
  
  .yline {
    transform: rotate(-45deg);
  }
  .xline {
    transform: rotate(45deg);
  }
  .circle {
    display: flex;
    width: 80%;
    height: 80%;
    border: 2px solid black;
    border-radius: 50%;
  }
  .restart {
    width: max-content;
    height: max-content;
    font-family: "Raleway", sans-serif;
    transition: 0.3s all;
    margin: 20px;
    padding: 10px;
    font-weight: 500;
    font-size: small!important;
    cursor: pointer;
    color: black;
    border: 1px solid black;

  }
  .reandne{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

  }
  .restart:hover{
    box-shadow: 0.8px 0.8px 0.8px 0.8px;
    
  }
  body{
    width: 100%!important;
    
  }
  .mainboard
  {
    display: none;
    flex-direction: column;
    width: 100%;
    justify-self: center;
    align-self: center;
    height: max-content;
    margin-bottom: 30px;
  }
  .scoreboard{
    justify-self: center;
    width: 100%;
    align-self: ce;
    height:max-content;
  }
  body {
    display: flex;
 
    align-items: center;
    flex-direction: column;
  }
  .title{
    display: none;
  }
  /*Beta...Later ....it will be removed*/
  .Round {
    transition: 0.3s all;
    font-size: x-large;
     opacity: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .result{
    text-align: center;
    transition: 0.5s all;
  }
  .result,
  .result1 {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    margin-top: 20px;
    font-weight: 600;
  }
  .beta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .header {
    display: flex;
    width: 100%;
    /* margin: 0px 0px 100px 0px; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  } 
  @media only screen and (max-width: 410px) {
    .playerinfo{
      /* top: 0; */
      transform: scale(0.7);
    }
    .ReadandOption{
      display: none;
    }
    .main{
      margin-top: 10px;
    }
    
  
    .Round{
       
        font-size:18px;
        padding:0;
 
    }
   .header img{
        width: 40px;
        height:40px;
       
     
    } 
   .firstimg{
        margin-left: 0px;
        padding: 10px;
        width: 30px!important;
        height: 35px!important;
      }
   .secondimage{
        margin-right: 0px;
        width: 30px!important;
        height: 35px!important;
    }
    .main{
        transform: scale(0.6);
    }
    .anime{
        transform: scale(0.7)!important;

    }
    .restart{
      transform: translateY(-50%) scale(0.8);
      transition: 0.5s all;
      margin:0px ;
    }
  }
 
  body{
    background: linear-gradient(
       120deg,
        rgba(7, 6, 71, 0.15),
        white,
        rgba(7, 6, 71, 0.15),
        white,
    
        rgba(7, 6, 71, 0.15),
        white

      );
  }
  .BLACK{

      background: linear-gradient(60deg,rgb(0, 0, 0)20%,rgb(69, 2, 145));
  }
  .WHITE{
     color: white!important;
     border-left-color: white!important;
     border-right-color: white!important;
     border-top-color: white!important;
     border-bottom-color: white!important;
     font-weight: 400;
     font-size: 20px;

    


  }
  .darkforth{
    transition: 0.3s all;
    font-size: x-large!important;

  }
   .darksecond{
     background: white;
   }
   .darkthird{
    background: -webkit-linear-gradient(20deg, white, white)!important;
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent!important;
   }
   .darkfirst{
    transform: scale(0.9);
    transition: 1s;
   }
   .anime{
       transform: scale(1.2);
       transition: 1s;
   }
   .header img:hover{
       transform: scale(1.1);
       transition: 0.5s;
   }
   .last{
       display: flex;
       flex-direction: column;
       align-items: center;
   }
.ReadandOption {
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    padding-right: 10px;
    background: -webkit-linear-gradient(20deg, black, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Raleway", sans-serif;

  }

  .down{
    transition: 1s;
    margin: 20px;
    transform: translateY(90%) scale(1.1);
  }
  .playerinfo{
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    transition: 2s all;
    /* display: none; */
  }
  form{
    margin-bottom:100px ;
  }
 
  @keyframes anime101{
    100%{
      height: 0vh;
    }
  }
  ::-webkit-scrollbar{
    display: none;
  }
  .x{
    display: flex;
  }
  .x1,.x2{
    display: flex;
    flex-direction: column;
  }
  form{
    display: flex;
    flex-direction: column;

  }
  .firstimg,.secondimage{
    transition: 1s all;
  }
  .x input{
    padding: 5px;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 6px;
    border: none;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.5s padding;

  }
  .x{
    text-align: left;
  }
  .x p{
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
  }
  .submit{
    width: 70%;
    height: max-content;
    padding: 5px;
    justify-self: center;
    align-self: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid black ;
    background: white;
    transition: 0.5s padding;
    cursor: pointer;
    

  }
  .submit:hover{
    box-shadow: 0.8px 0.8px 0.8px 0.8px;
  }
  .x input:focus{

    box-shadow: 0.8px 0.8px 0.8px 0.8px;
  }
  
  .scoreboard{
  display: flex;
  }
  .scoreboard div{
    border: 1px solid black;
    border-style:dashed;
    width: 33%;
    height: max-content;
    text-align: center;
    font-size: 3vmin;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
  }
  .xw{
    transition: 0.5s padding;
    padding: 10px!important;
    border: none!important;
    
  }
  .score1,.score2,.score3{
    padding: 20px;
    /* font-size: px; */
  }
  .title{
    font-size: 2vmax;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    padding: 10px;
    text-align: center;
    justify-self: center;
    align-self: center;
   
  }
  .leading{
    width: 100vw;
    /* max-width: ; */
    font-size: 2.5vmax;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-spacing: 1px;
    font-weight: 100;
    text-align: center;
  }
  .restart:hover{
    font-weight: 700;
  }
  .header a{
    width: min-content;
    height: min-content;
  }