.page {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: aqua;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    /* align-items: center;
    justify-content: center; */
    flex-direction: column;
}
.HEADING{

    color: black;

}
.description{

    color: purple;
}
#center {

    text-align: center;
    
}

.container {
    padding-top: 5rem;
    padding-right: 3px;
    position: relative;
    width: 30%;
    margin: 10px auto 10px auto;
    perspective: 1000px;
}

.carousel {

    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
}

.carousel__face {
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    display: flex;
}

.carousel__face:nth-child(1) {
    background-image: url("images/scenery1.jfif");
    transform: rotateY(0deg) translateZ(430px);
    filter: brightness(150%);
}

.carousel__face:nth-child(2) {
    background-image: url("images/scenery2.jfif");
    transform: rotateY(40deg) translateZ(430px);
    filter: brightness(150%);
}

.carousel__face:nth-child(3) {
    background-image: url("images/scenery3.jfif");
    transform: rotateY(80deg) translateZ(430px);
    filter: brightness(150%);
}

.carousel__face:nth-child(4) {
    background-image: url("images/scenery4.jfif");
    transform: rotateY(120deg) translateZ(430px);
    filter: brightness(150%);
}

.carousel__face:nth-child(5) {
    background-image: url("images/scenery5.jfif");
    transform: rotateY(160deg) translateZ(430px);
    filter: brightness(150%);
}

.carousel__face:nth-child(6) {
    background-image: url("images/scenery6.jfif");
    transform: rotateY(200deg) translateZ(430px);
    filter: brightness(150%);
}

.carousel__face:nth-child(7) {
    background-image: url("images/scenery7.jfif");
    transform: rotateY(240deg) translateZ(430px);
    filter: brightness(150%);
}

.carousel__face:nth-child(8) {
    background-image: url("images/scenery8.jfif");
    transform: rotateY(280deg) translateZ(430px);
    filter: brightness(150%);
}

.carousel__face:nth-child(9) {
    background-image: url("images/scenery9.jfif");
    transform: rotateY(320deg) translateZ(430px);
    filter: brightness(150%);
}



@keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(-360deg);
    }
}