* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40px;
}

.input-box {

    width: 80%;
    max-width: 500px;
    text-align: center;
    border: 1px solid cyan;
    margin: 0 auto;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 2px 1px rgb(216, 221, 226);
}

.input-box h1 {
    color: cyan;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    font-size: 22px;
    display: inline-block;
    margin-bottom: 10px;
}

input {
    font-size: 22px;
    padding: 8px 20px;
    margin-bottom: 12px;
}

button {
    padding: 12px 18px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: cyan;
}

button:hover {
    color: white;
    background-color: blue;
}

button:active {
    color: red;
}

#orderedlist {

    text-align: left;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}

li {
    font-weight: bold;
    font-size: 20px;
}